<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="kr.re.etri.tpl.builder.ScriptBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false"
            isConfigurable="true">
         <run
               class="kr.re.etri.tpl.diagram.builder.ScriptBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="kr.re.etri.tpl.builder.ScriptParsingBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="kr.re.etri.tpl.diagram.builder.ScriptParsingBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="kr.re.etri.tpl.TaskScriptProblem"
         name="Task Script Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="kr.re.etri.tpl.TaskDiagramProblem"
         name="Task Diagram Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="kr.re.etri.tpl.TaskModelPerspectiveFactory"
            icon="icons/icon_16x16/33_RobotTaskEditor.png"
            id="kr.re.etri.tpl.TaskModelPerspectiveFactory"
            name="TPL">
      </perspective>
      <perspective
            class="kr.re.etri.tpl.DebugPerspectiveFactory"
            icon="icons/club/bug.png"
            id="kr.re.etri.tpl.DebugPerspectiveFactory"
            name="TPL Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="kr.re.etri.tpl.diagram.wizard"
            name="Robot Task Programming">
      </category>
      <wizard
            category="kr.re.etri.tpl.diagram.wizard"
            class="kr.re.etri.tpl.diagram.wizards.ProjectCreationWizard"
            finalPerspective="kr.re.etri.tpl.TaskModelPerspectiveFactory"
            icon="icons/club/ProjectNavigator.png"
            id="kr.re.etri.tpl.diagram.wizards.ProjectCreationWizard"
            name="Robot Task Project"
            project="true">
      </wizard>
      <wizard
            category="kr.re.etri.tpl.diagram.wizard"
            class="kr.re.etri.tpl.diagram.wizards.BehaviorModelDiagramCreationWizard"
            finalPerspective="kr.re.etri.tpl.TaskModelPerspectiveFactory"
            icon="icons/icon_16x16/31_RobotTaskDiagram.png"
            id="kr.re.etri.tpl.diagram.wizards.TaskModelDiagramCreationWizard"
            name="Robot Task Diagram">
      </wizard>
      <wizard
            category="kr.re.etri.tpl.diagram.wizard"
            class="kr.re.etri.tpl.diagram.wizards.BehaviorScriptCreationWizard"
            finalPerspective="kr.re.etri.tpl.DebugPerspectiveFactory"
            icon="icons/icon_16x16/32_RobotTaskScript.png"
            id="kr.re.etri.tpl.diagram.wizards.TaskScriptCreationWizard"
            name="Robot Task Script">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kr.re.etri.tpl.diagram.editors.TPLDiagramEditor"
            contributorClass="kr.re.etri.tpl.actions.TPLActionBarContributor"
            default="true"
            extensions="tpd"
            icon="icons/icon_16x16/31_RobotTaskDiagram.png"
            id="kr.re.etri.tpl.diagram.editors.TPLDiagramEditor"
            name="Robot Task Diagram Editor">
      </editor>
      <editor
            class="kr.re.etri.tpl.script.editors.TPLScriptEditor"
            default="true"
            extensions="tpl"
            icon="icons/icon_16x16/32_RobotTaskScript.png"
            id="kr.re.etri.tpl.script.editors.TPLEditor"
            name="Robot Task Script Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="kr.re.etri.tpl.diagram.views.ProjectNavigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="kr.re.etri.tpl.diagram.views.ProjectNavigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="kr.re.etri.tpl.diagram.providers.ProjectNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="kr.re.etri.tpl.diagram.views.ProjectNavigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="kr.re.etri.tpl.diagram.providers.ProjectNavigatorContentProvider"
            id="kr.re.etri.tpl.diagram.providers.ProjectNavigatorContent"
            labelProvider="kr.re.etri.tpl.diagram.providers.ProjectNavigatorLabelProvider"
            name="Task Model Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="rtm">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.resource.Resource">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <instanceof
                     value="kr.re.etri.tpl.diagram.views.taskcontrol.TreeItem2">
               </instanceof>
            </or>
         </possibleChildren>
         <dropAssistant
               class="kr.re.etri.tpl.diagram.views.ProjectResourceDropAdapterAssistant"
               id="kr.re.etri.tpl.diagram.views.ProjectResourceDropAssistant">
            <possibleDropTargets>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt></possibleDropTargets>
         </dropAssistant>
         <dropAssistant
               class="kr.re.etri.tpl.diagram.views.taskcontrol.ProjectNavigatorDropAdapterAssistant"
               id="kr.re.etri.tpl.diagram.views.taskcontrol.dropAssistant">
            <possibleDropTargets>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="kr.re.etri.tpl.actions.robottaskmodel"
            label="TPL"
            visible="true">
         <menu
               id="kr.re.etri.tpl.rtmmenu"
               label="TPL"
               path="additions">
            <separator
                  name="content">
            </separator>
            <separator
                  name="content2">
            </separator>
         </menu>
         <menu
               id="kr.re.etri.tpl.debugmenu"
               label="TPL Debug"
               path="additions">
            <separator
                  name="debug">
            </separator>
            <separator
                  name="monitoring">
            </separator>
            <separator
                  name="emulator">
            </separator>
         </menu>
         <action
               class="kr.re.etri.tpl.actions.UpdateDiagramActionDelegate"
               icon="icons/club/updatediagram.png"
               id="kr.re.etri.tpl.actions.UpdateDiagramAction"
               label="Update Diagram"
               menubarPath="kr.re.etri.tpl.rtmmenu/content2"
               style="push">
         </action>
         <action
               class="kr.re.etri.tpl.actions.GenerateTaskScriptActionDelegate"
               icon="icons/club/Generate Script.png"
               id="kr.re.etri.tpl.actions.generatetaskscriptactiondelegate"
               label="Generate Script"
               menubarPath="kr.re.etri.tpl.rtmmenu/content2"
               style="push">
         </action>
         <action
               class="kr.re.etri.tpl.diagram.inject.InjectAction"
               icon="icons/club/inject Diagram.png"
               id="kr.re.etri.tpl.diagram.inject.InjectAction"
               label="Inject Diagram"
               menubarPath="kr.re.etri.tpl.rtmmenu/content"
               style="push">
         </action>
         <action
               class="kr.re.etri.tpl.script.debug.actions.DebugStopActionDelegate"
               icon="icons/stop.gif"
               id="org.eclipse.ui.articles.action.contribution.set.action2"
               label="Stop"
               menubarPath="kr.re.etri.tpl.rtmmenu/debug"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/debug"
               tooltip="Terminate">
         </action>
         <action
               class="kr.re.etri.tpl.script.debug.actions.DebugStepActionDelegate"
               icon="icons/stepby2.gif"
               id="org.eclipse.ui.articles.action.contribution.set.action4"
               label="Step"
               menubarPath="kr.re.etri.tpl.rtmmenu/debug"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/debug"
               tooltip="Step">
         </action>
         <action
               class="kr.re.etri.tpl.script.debug.actions.DebugRunActionDelegate"
               icon="icons/drun.gif"
               id="org.eclipse.ui.articles.action.contribution.set.action1"
               label="Debug"
               menubarPath="kr.re.etri.tpl.rtmmenu/debug"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/debug"
               tooltip="Debug">
         </action>
         <action
               class="kr.re.etri.tpl.script.debug.actions.MonitoringSuspendActionDelegate"
               icon="icons/suspend.gif"
               id="org.eclipse.ui.articles.action.contribution.set.action3"
               label="Suspend"
               menubarPath="kr.re.etri.tpl.rtmmenu/monitoring"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/monitoring"
               tooltip="Suspend">
         </action>
         <action
               class="kr.re.etri.tpl.script.debug.actions.MonitoringResumeActionDelegate"
               icon="icons/mrun.gif"
               id="org.eclipse.ui.articles.action.contribution.set.action6"
               label="Monitoring"
               menubarPath="kr.re.etri.tpl.rtmmenu/monitoring"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/monitoring"
               tooltip="Monitoring">
         </action>
         <action
               class="kr.re.etri.tpl.script.emulator.EmulatorDialogOpenActionDelagate"
               icon="icons/enum.gif"
               id="kr.re.etri.tpl.actions.EmulatorAction"
               label="Emulator"
               menubarPath="kr.re.etri.tpl.rtmmenu/emulator"
               style="push"
               toolbarPath="kr.re.etri.tpl.debugmenu/emulator"
               tooltip="Emulator">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="kr.re.etri.tpl.navigation"
            name="Robot Task Programming">
      </category>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.diagram.views.ModelNavigatorViewPart"
            icon="icons/icon_16x16/39_Model.png"
            id="kr.re.etri.tpl.diagram.views.ModelNavigatorViewPart"
            name="Models"
            restorable="true">
      </view>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.diagram.views.TaskNavigatorViewPart"
            icon="icons/icon_16x16/38_task.png"
            id="kr.re.etri.tpl.diagram.views.TaskNavigatorViewPart"
            name="Tasks"
            restorable="true">
      </view>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.diagram.views.ProjectNavigatorView"
            icon="icons/club/ProjectNavigator.png"
            id="kr.re.etri.tpl.diagram.views.ProjectNavigatorView"
            name="Project Navigator"
            restorable="true">
      </view>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.script.debug.variables.DebugVariableView"
            fastViewWidthRatio="0.05"
            icon="icons/var.gif"
            id="kr.re.etri.tpl.diagram.DebugValueView"
            name="Debug Value"
            restorable="true">
      </view>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.script.debug.thread.DebugThreadView"
            icon="icons/agent16.gif"
            id="kr.re.etri.tpl.diagram.DebugThreadView"
            name="Debug Thread"
            restorable="true">
      </view>
      <view
            category="kr.re.etri.tpl.navigation"
            class="kr.re.etri.tpl.diagram.views.taskcontrol.TaskControllerView"
            icon="icons/club/robot.png"
            id="kr.re.etri.tpl.diagram.TaskControllerView"
            name="Robot Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         id="kr.re.etri.tpl.TaskScriptNature"
         name="Task Script Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="kr.re.etri.tpl.builder.ScriptParsingBuilder">
      </builder>
      <runtime>
         <run
               class="kr.re.etri.tpl.TaskScriptNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="kr.re.etri.tpl.diagram.inject.InjectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="kr.re.etri.tpl.diagram.injectMenu"
               label="Inject"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="kr.re.etri.tpl.diagram.inject.InjectPopupActionDelegate"
               icon="icons/club/inject Diagram.png"
               id="kr.re.etri.tpl.diagram.inject.injectAction"
               label="Inject"
               menubarPath="kr.re.etri.tpl.diagram.injectMenu"
               style="push">
         </action>
       </objectContribution>
      <viewerContribution
            id="kr.re.etri.tpl.TPLScriptEditorRulerPopupActions"
            targetID="#TextRulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="kr.re.etri.tpl.actions.BreakpointRulerActionDelegate"
               label="Toggle &amp;Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="kr.re.etri.tpl.actions.EnableDisableBreakpointRulerActionDelegate"
               label="Toggl&amp;e Enablement"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="kr.re.etri.tpl.TPLScriptEditor.BreakpointRulerActions"
            targetID="kr.re.etri.tpl.script.editors.TPLEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="kr.re.etri.tpl.script.actions.ManageBreakpointRulerAction"
               label="Toggle &amp;Breakpoint">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="kr.re.etri.tpl.script.debug.TPLToggleBreakpointsTargetFactory"
            id="kr.re.etri.tpl.script.debug.TPLToggleBreakpointsTargetFactory">
      </toggleTargetFactory>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="kr.re.etri.tpl.TaskControllerView.viewActions"
            targetID="kr.re.etri.tpl.diagram.TaskControllerView">
         <action
               class="kr.re.etri.tpl.diagram.views.taskcontrol.actions.ConnectActionDelegate"
               icon="icons/icon_16x16/36_icon.png"
               id="kr.re.etri.tpl.actions.taskcontrol.Connect"
               label="Connect"
               style="toggle"
               toolbarPath="Normal/addtions"
               tooltip="connect to server">
         </action>
         <action
               class="kr.re.etri.tpl.diagram.views.taskcontrol.actions.RefreshActionDelegate"
               icon="icons/icon_16x16/35_icon.png"
               id="kr.re.etri.tpl.actions.taskcontrol.Refresh"
               label="Refresh"
               style="push"
               toolbarPath="Normal/addtions"
               tooltip="refresh view">
         </action>
      </viewContribution>
   </extension>
   <extension
         id="kr.re.etri.tpl.debug.tplBreakpointMarker"
         name="TPL Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="kr.re.etri.tpl.script.debug.scriptInfo">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="kr.re.etri.tpl.script.debug.TPLBreakpoint"
            id="kr.re.etri.tpl.debug.tplBreakpoint"
            markerType="kr.re.etri.tpl.debug.tplBreakpointMarker">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="kr.re.etri.tpl.script.debug.DebugModelPresentation"
            detailsViewerConfiguration="kr.re.etri.tpl.script.editors.TPLConfiguration"
            id="kr.re.etri.tpl">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="kr.re.etri.tpl.diagram.wizard.ComponentProfile"
            name="OPRoS Component Profile">
      </category>
      <wizard
            category="kr.re.etri.tpl.diagram.wizard.ComponentProfile"
            class="kr.re.etri.tpl.diagram.wizards.profile.ImportComponentProfileWizard"
            id="kr.re.etri.tpl.diagram.wizards.ComponentProfileImportWizard"
            name="OPRoS Component Profile">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="kr.re.etri.tpl.diagram.wizard.ComponentProfile"
            name="OPRoS Component Profile">
      </category>
      <wizard
            category="kr.re.etri.tpl.diagram.wizard.ComponentProfile"
            class="kr.re.etri.tpl.diagram.wizards.profile.ExportComponentProfileWizard"
            id="kr.re.etri.tpl.diagram.wizards.ComponentProfileExportWizard"
            name="OPRoS Component Profile">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kr.re.etri.tpl.preferences.TPLPreferencePage"
            id="kr.re.etri.tpl.preferences.tplpreferencepage"
            name="TPL Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="kr.re.etri.tpl.preferences.TPLPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
